.navbar {
  width: 100%;
  height: 70px;
  padding: 0 60px;
  background: transparent;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: #333;
}

.primary {
  background: white;
  color: #333;
}