/* Full Screen Background */
.signup-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card */
.signup-card {
  width: 100%;
  max-width: 400px; /* Ensure it fits any screen */
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.8s ease-in-out;
  text-align: center;
}

.signup-card h2 {
  margin-bottom: 25px;
  color: #182848;
  font-size: 26px;
  font-weight: 700;
}

/* Inputs */
.signup-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.3s;
}


.signup-card input:focus {
  border-color: #4b6cb7;
  outline: none;
  box-shadow: 0 0 10px rgba(75, 108, 183, 0.3);
}

/* Button */
.signup-card button {
  width: 100%;
  padding: 12px;
  background: #1f4037;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-card button:hover {
  background: #16332d;
}

/* Login text */
.signup-card p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-card span {
  color: #1f4037;
  cursor: pointer;
  font-weight: bold;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.signup-message {
  background: #d4edda;
  color: #155724;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 500;
}